#
# This group is read both both by the client and the server
# use it for options that affect everything
#
[client-server]

# Import all .cnf files from configuration directory
!includedir /etc/mysql/conf.d/
!includedir /etc/mysql/mariadb.conf.d/

[mysqld]
bind-address = 0.0.0.0
max_connections = 125
max_user_connections=100
connect_timeout = 20
skip-name-resolve
query_cache_type = OFF
query_cache_size = 0
innodb_log_files_in_group = 2
